body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana;
}

#aboutYou {
    text-wrap: normal;
    width: 95%;
    height: 200px;
}
#qualification {
    text-wrap: normal;
    width: 95%;
    height: 200px;
}
#prof {
    height: 60px;
    width: 95%;
    font-size: 13px;
}